.row
  .col-md-2
    %h2
      = link_to help_path, class: 'btn btn-default btn-xs' do
        =fa_icon 'angle-left'
        = t 'help.back'
      %span.pull-right API
    %hr

    #ul.nav.nav-pills.nav-stacked
      - %w(anomaly_data budokop_sensors contexts experiments scenarios device_aggregations devices edge_nodes levees measurement_nodes measurements neosentio_sensors parameters pumps fiber_optic_nodes profiles timelines threat_assessments threat_assessment_runs results sections monitoring threat_levels).sort.each do |file|
        = nav_tab :category, file do
          = link_to file.titleize, help_api_file_path(file)
  .col-md-10
    = preserve do
      = markdown File.read(Rails.root.join("doc", "api", "#{@category}.md"))
